.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-title {
  padding: 32px 8px;
  text-align: center;
}

.product-image {
  max-width: 64px;
}
table {
  letter-spacing: 1px;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.cancel {
  cursor: pointer;
  width: 20px;
  margin-left: 18px;
}

.total, .product-td {
  font-size: 20px;
  font-weight: 600;
}

th,
td {
  text-align: center;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding-left: clamp(8px, 32px, 64px);
  padding-right: clamp(8px, 32px, 64px);
  padding-top: clamp(8px, 18px, 16px);
  padding-bottom: clamp(8px, 18px, 16px);
}

.product-th {
  text-align: left;
}

.product-td {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

