.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-title {
  padding: 32px 8px;
  text-align: center;
}

.product-image {
  max-width: 64px;
}

table {
  letter-spacing: 1px;
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.cancel {
  cursor: pointer;
  width: 20px;
  margin-left: 18px;
}

.total,
.product-td {
  font-size: 20px;
  font-weight: 600;
}

th,
td {
  text-align: center;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding-left: clamp(8px, 32px, 64px);
  padding-right: clamp(8px, 32px, 64px);
  padding-top: clamp(8px, 18px, 16px);
  padding-bottom: clamp(8px, 18px, 16px);
}

.product-th {
  text-align: left;
}

.product-td {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 16px;
}

.total-table-emph {
  font-weight: 600;
  text-align: left;
}

.total-table-amount {
  text-align: right;
}

.cart-summary {
  display: flex;
  margin: auto;
  justify-content: end;
  width: 100%;
  max-width: 1280px;
}

.total-table {
  margin: 0;
  margin-top: 28px;
  width: 40%;
}

.grand-total {
  font-weight: 600;
  font-size: 22px;
}

.checkout-btn {
  font-weight: 600;
  width: fit-content;
  margin: auto;
  margin-top: 28px;
  padding: 12px 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: fit-content;
  background-color: hsl(0, 0%, 90%);
  transition: color 0.2s ease, background-color 0.2s ease;

  &:hover {
    background-color: var(--bluebonnet-shades-80);
    color: white;
  }

  &:active {
    background-color: var(--bluebonnet-shades-60);
    color: white;
  }
}

.cart-btn {
  font-weight: 600;
  width: fit-content;
  margin: auto;
  margin-top: 28px;
  padding: 12px 28px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  height: fit-content;
  background-color: hsl(0, 0%, 90%);
  transition: color 0.2s ease, background-color 0.2s ease;
}

.checkout-btn {
  &:hover {
    background-color: var(--bluebonnet-shades-80);
    color: white;
  }

  &:active {
    background-color: var(--bluebonnet-shades-60);
    color: white;
  }
}

.empty-btn {
  font-size: 1rem;
  &:hover {
    background-color: hsl(0, 85%, 65%);
    color: white;
  }

  &:active {
    background-color: hsl(0, 85%, 45%);
    color: white;
  }
}

.quantity-content {
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.left-btn-qnt,
.right-btn-qnt {
  padding: 8px 16px;
  margin: 0px;
  background-color: hsl(0, 0%, 95%);
  &:hover {
    background-color: var(--bluebonnet-shades-80);
    color: white;
  }
}

.left-btn-qnt {
  border-radius: 8px 0px 0px 8px;
}

.right-btn-qnt {
  border-radius: 0px 8px 8px 0px;
}

.quantity-text {
  font-weight: 600;
  font-size: 16px;
  background-color: hsl(0, 0%, 95%);
  padding: 8px;
}

.empty-cart {
  margin: 48px 16px;
  text-align: center;
}

.empty-cart-title {
  margin-bottom: 8px;
  color: var(--bluebonnet-shades-60);
}

.empty-cart-subtitle {
  color: var(--bluebonnet-shades-80);
}

.icon-cart {
  font-size: 64px;
  color: var(--bluebonnet-shades-60);
}

.purchase-title {
  margin-bottom: 16px;
}

.purchase-text {
  text-align: center;
}
@media screen and (max-width: 768px) {
  .total,
  .product-td {
    font-size: 16px;
  }
  .product-td {
    gap: 8px;
  }
  .left-btn-qnt,
  .right-btn-qnt {
    padding: 8px 8px;
    margin: 0px;
  }
  .product-image {
    max-width: 36px;
  }
  .cancel {
    width: 16px;
    margin-left: 8px;
  }
  .cart-title {
    padding: 16px 8px;
  }
  th,
  td {
    padding: 8px;
  }
  table {
    scale: 95%;
  }
}
