.hero {
    padding: 128px 36px;
    background: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;    
}

.hero-title {
    font-size: 1.8rem;
}

.hero-content {
    margin: auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    gap: 36px;
    
}

.accent {
    color: var(--bluebonnet-shades-40);
}

.hero-left {
    max-width: 600px;
    padding: 18px;
    padding-top: 48px;

    p {
        font-size: 1.3rem;
        margin: 24px 0 48px;
    }

    button {
        font-weight: 600;
        padding: 18px 36px;
        border: none;
        border-radius: 10px;
        max-width: fit-content;
        cursor: pointer;
        height: fit-content;
        background-color: var(--bluebonnet-tints-80);
        transition: color 0.2s ease, background-color 0.2s ease;
    
        &:hover {
            background-color: var(--bluebonnet-shades-80);
            color: white;
        }
    
        &:active {
            background-color: var(--bluebonnet-shades-60);
            color: white;
        }
    }
}

.buy-message {
    font-weight: 600;
}

.discount {
    font-size: 1.4rem;
}

.hero-right {
    max-width: 600px;

    img {
        max-width: 400px;
        cursor: pointer;
        transition: scale 0.3s ease, transform 0.3s ease;
        &:hover {
            scale: 105%;
            transform: rotate(2deg);
        }
    }
}

.blob-div {
    width: 340px;
    height: 340px;
    border-radius: 25%;
    background-color: var(--bluebonnet-shades-20);
    opacity: 20%;
    position: absolute;
    z-index: -1;
    transform: translate(10px, 70px);
}

