.loginSignUp {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.loginSignUp-form {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  input,
  button {
    padding: 18px 12px;
    margin: 8px;
    border: none;
  }
  input {
    border: 1px solid hsl(0, 0%, 65%);
    &:focus {
      outline: 1px solid;
    }
  }
  button {
    cursor: pointer;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: hsl(0, 0%, 85%);
    }
  }
}

.loginSignUp-login {
    margin-top: 12px;
}

.loginSignUp-terms {
    display: flex;
    align-items: center;
    margin: 8px 0;
    gap: 8px;
}
