@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    padding: 32px;
    box-shadow: 0 1px 3px -2px black;
}

.navbar-content {
    max-width: 1280px;
    padding: 0 16px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    
}

.navbar-shopName {
    font-family: "Bebas Neue", sans-serif;
    place-content: center;
    color: var(--bluebonnet-shades-60);
    font-size: 1.6rem;
}

.navbar-menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 26px;
    font-weight: 600;
    color: var(--black);
    :hover {
        color: var(--bluebonnet-shades-60);
    }
}

.navbar-menu li {
    cursor: pointer;
}

.selected-border-bottom {
    padding-bottom: 2px;
    border-bottom: 4px solid var(--bluebonnet-shades-40);
}

.navbar-loginAndCart {
    display: flex;
    align-items: center;
    gap: 26px;
}

.navbar-loginAndCart button {
    font-weight: 600;
    padding: 10px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: fit-content;
    background-color: hsl(0, 0%, 90%);
    transition: color 0.2s ease, background-color 0.2s ease;

    &:hover {
        background-color: var(--bluebonnet-shades-80);
        color: white;
    }

    &:active {
        background-color: var(--bluebonnet-shades-60);
        color: white;
    }
}

.navbar-loginAndCart img {
    max-width: 36px;
    cursor: pointer;
}