@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    display: flex;
    justify-content: space-around;
    padding: 24px 12px;
    box-shadow: 0 1px 3px -2px black;
}

.navbar-shopName {
    font-family: "Bebas Neue", sans-serif;
    place-content: center;
    font-size: 1.2em;
}

.navbar-menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 26px;
    font-weight: 600;
    color: #6e6e6e;
}

.navbar-menu li {
    cursor: pointer;
}

.selected-border-bottom {
    padding-bottom: 2px;
    border-bottom: 4px solid black;
}

.navbar-loginAndCart {
    display: flex;
    align-items: center;
    gap: 26px;
}

.navbar-loginAndCart button {
    font-weight: 600;
    padding: 10px 22px;
    border: 1px solid #6e6e6e;
    border-radius: 20px;
    cursor: pointer;
    height: fit-content;
    background-color: white;
    transition: color 0.4s ease, background-color 0.4s ease;

    &:hover {
        background-color: #d3d3d3;
    }

    &:active {
        background-color: #6e6e6e;
        color: white;
    }
}

.navbar-loginAndCart img {
    max-width: 36px;
    cursor: pointer;
}