@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.footer {
    text-align: center;
    margin-top: 48px;

    ul {
        justify-content: center;
        margin: 28px 0;
        display: flex;
        gap: 36px;
        list-style-type: none;
        li {
            font-size: 18px;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border 0.2s ease;
            &:hover {
                border-bottom: 2px solid var(--bluebonnet-shades-60);
            }
        }
    }

    hr {
        border: 2px solid hsl(0, 0%, 75%);
    }
}

.footer-title {
    font-size: 36px;
    color: var(--bluebonnet-shades-60);
    letter-spacing: 4px;
    font-family: "Bebas Neue", sans-serif;
    
}

.icon {
    max-width: 36px;
    transition: scale 0.2s ease;
    &:hover {
        scale: 105%;
    }
}

.footer-copyright {
    margin: 18px 0;
}
