.footer {
    text-align: center;
    margin-top: 48px;

    ul {
        justify-content: center;
        margin: 28px 0;
        display: flex;
        gap: 36px;
        list-style-type: none;
        li {
            font-size: 18px;
            cursor: pointer;
            border: 2px solid transparent;
            transition: border 0.2s ease;
            &:hover {
                border-bottom: 2px solid hsl(0, 0%, 75%);
            }
        }
    }

    hr {
        border: 2px solid hsl(0, 0%, 75%);
    }
}

.footer-copyright {
    margin: 18px 0;
}
