.login-user-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 4rem auto;
  padding: 16px;
}
.login-user-label {
  margin-top: 1rem;
  margin-bottom: 8px;
  font-weight: 500;
}
.login-page-title {
  text-align: center;
}
.login-user-input {
  padding: 18px 12px;
  border: none;

  border: 1px solid hsl(0, 0%, 65%);
  &:focus {
    outline: 1px solid;
  }
}
.login-user-input:last-of-type {
  margin-bottom: 1rem;
}
.login-user-btn {
  margin: auto;
  &:hover,
  :active {
    background-color: hsl(0, 0%, 85%);
  }
}
