.loginSignUp {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}

.loginSignUp-form {
  display: flex;
  width: 100%;
  max-width: 500px;
  flex-direction: column;
  input {
    padding: 18px 12px;
    margin: 8px;
    border: none;
  }
  input {
    border: 1px solid hsl(0, 0%, 65%);
    &:focus {
      outline: 1px solid;
    }
  }
}
.login-user-sign-up {
  margin: 1rem auto;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: hsl(0, 0%, 85%);
  }
}
.continue-btn {
  cursor: pointer;
  margin: 16px auto;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: hsl(0, 0%, 85%);
  }
}

.loginSignUp-login {
  margin-top: 12px;
}

.alert-password {
  scale: 1.2;
  margin: 2rem;
}

.loginSignUp-terms {
  display: flex;
  align-items: center;
  margin: 8px 0;
  gap: 8px;
}

.login-here-btn {
  padding: 8px 16px;
  &:hover {
    background-color: hsl(0, 0%, 85%);
  }
}

.label-login {
  text-align: left;
  font-weight: 500;
  padding-left: 8px;
  margin-top: 8px;
}
