.popular {
    text-align: center;
    margin: 36px 0;
    hr {
        max-width: 30%;
        margin: 8px auto 16px;
        border-radius: 20px;
        border: 3px solid var(--bluebonnet-tints-80);
    }
}

.popular-title {
    color: var(--bluebonnet-shades-60);
}

.popular-products {
    display: flex;
    max-width: 1120px;
    flex-flow: row wrap;
    margin: auto;
    justify-content: center;
}