.productDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* flex: 1; */
}

.productDisplay-left {
    width: 50%;
    min-width: 500px;
    display: flex;
    max-width: 640px;
    padding: 0 8px 0 16px;
    gap: 0.5rem;
    align-items: center;
}

.main-image {
    max-width: 100%;
    object-fit: contain;
}

.secondary-image {
    width: 100%;
    border: 1px solid hsl(0, 0%, 60%);
    border-radius: 8px;
    object-fit: contain;
    height: 100%;
    cursor: pointer;
}

.placeholder-div {
    width: 100%;
    border-radius: 8px;
    object-fit: contain;
    height: 100%;
}

.side-images {
    display: flex;
    width: 20%;
    height: 100%;
    gap: 0.5rem;
    flex-direction: column;
}


.productDisplay-right {
    height: 100%;
    width: 50%;
    min-width: 500px;

    padding: 0 16px 0 8px;
    max-width: 640px;
}

.productDisplay-title {
    margin-bottom: 32px;
}

.productDisplay-price {
    font-size: 1.5rem;
    margin: 16px 0 32px;
}

.productDisplay-description {
    margin-bottom: 32px;
    text-align: justify;
    line-height: 1.4rem;
}

.productDisplay-cartBtn {
    padding: 18px 32px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    &:hover {
        background-color: hsl(0, 0%, 85%);
    }
}

@media screen and (max-width: 999px) {
    .productDisplay-left {
        width: 90%;
        max-width: unset;
    }
    .productDisplay-right {
        width: 90%;
        max-width: unset;
        margin-top: 64px;
    }
    
}